:root {
	@media(max-width:$jvd-smaller-screens-threshold) {
		font-size: $pre-font-size-smaller-screens;
	}
}


body {
	background: pre-color(background);
	margin: 0;
	padding: 0;
	// display: flex;
	min-height: 100vh;
	// flex-direction: column;
	// align-items: center;
	// justify-content: space-between;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background: pre-color(primary);
}

* { box-sizing: border-box; }



a {
	transition: $jvd-transition-default;
	text-decoration: underline;

	&:hover {
		color: inherit;
	}
}

mark {
	background: pre-color(primary);
	color: white;
}

.spoiler {
	position: relative;
	background: pre-color(primary);
	color: pre-color(primary);
	line-height: 1;
	border-radius: 3px;

	&:hover {
		color: white;
	}

	&:before {
		content: "SPOILER";
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%,-75%);
		background: pre-color(primary);
		color: white;
		font-size: 10px;
		letter-spacing: 2px;
		border-radius: 3px;
		font-weight: bold;
		padding: 0 4px;
	}
}

cite {
	// background: rgba(black,0.05);
	// padding: 0 0.4em;
	font-style: italic;
	color: rgba(black,0.7);
	letter-spacing: 0.025em;
}

blockquote {
	opacity: 0.5;
}

.external-link,
.link-external {
	padding-right: 0.75em;
	position: relative;

	&:after {
		transform: translateY(-50%);
		font-family: 'jvd-icons';
		content: $jvd-icon-external-link;
		position: absolute;
		top: 50%;
		right: 0;
		font-size: 0.65em;
		// width: 0.5rem;
		// height: 0.5rem;
		// background: url('../../assets/external-link.svg') center no-repeat;
		// background-size: contain;
	}
}

h1,h2,h3,h4,h5,h6 {
	color: black;
}

a {
	color: black;
}

.pre-font-size-default { font-size: 1rem; }

.label {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: var(--jvd-letter-spacing);
	/* color: var(--jvd-color-gray); */
}



ul {
	padding-left: 0;
	li {
		list-style-type: none;
	}
}

.list-inline {
	margin: 0;
	padding: 0;
}
.list-inline li {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.list-inline li:not(:last-child) {
	margin-right: 1em;
}






.vd-margin-bottom	{ margin-bottom: 1rem; }
.vd-margin-bottom-medium	{ margin-bottom: 2rem; }
.vd-margin-bottom-large	{ margin-bottom: 5rem; }



.pre-container {
	max-width: 1200px;

	@media(max-width:1200px) {
		max-width: 100%;
	}
}

.pre-container-snacked {
	max-width: 1000px;

	@media(max-width:1000px) {
		max-width: 100%;
	}
}



.vd-wrapper {
	margin-left: auto;
	margin-right: auto;
}

.vd-text-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 836px;
}

.vd-section {
	&:not(:first-child) {
		margin-top: 50px;
	}
	margin-bottom: 50px;
}
.vd-section + .vd-section {
	margin-top: 0;
}

.vd-logo {
	// max-width: 30vw;
	// @media(max-width:$breakpoint-small) {
	// 	max-width: 70%;
	// }
	// min-width: 200px;
	max-width: 360px;
	margin: 0 auto 60px;

	img {
		border-radius: 15px;
	}
}

.vd-subscribe-button {
	border: 3px solid black;
	padding: 0.75em 1.25em;
	border-radius: 15px;
	position: relative;
	

	.vd-icon-link__icon { font-size: 64px;  }
	.vd-icon-link__label {
		display: block;

		.title {
			display: block;
			font-size: 24px;
			font-weight: bold;
		}
		.subtitle {
			display: block;
			opacity: 0.5;
		}
	}

	&.vd-icon-link:hover {
		background: black;
		color: white;

		.vd-icon-link__label { text-decoration: none; }
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: auto !important;
		height: auto !important;
	}
	
}

.vd-dl {
	dt {
		font-size: 0.8em;
		color: rgba(black,0.25);
		font-weight: bold;
		text-transform: uppercase;
		// margin-bottom: 0.5em;
		// letter-spacing: 0.05em;

		@media(max-width:$breakpoint-small-max) { margin-bottom: 0; }
	}
	dd {
		
	}
}


