.vd-header {
	margin-top: 0;
	// min-height: 100vh;
	overflow: hidden;

	&__inner {
		position: relative;
		z-index: 2;
	}

	.vd-header__bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.05;
		z-index: 1;
		background: url('../images/wallpaper.png') repeat center top;
		mask-image: linear-gradient(rgba(white,1) 50%,rgba(white,0));
	}
	

	@media(max-width:$breakpoint-small-max) {
		padding-top: 36px;
	}

	display: flex;
	flex-direction: column;

	#subscribar {
		@include pre-flex-fixed;

		.vd-subscribar {
			background: white;
			box-shadow: 0 0 120px rgba(white,1);
		}
	}

	#pagetitle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include pre-flex-fluid;
	}
	
}

.vd-logo {
	max-width: 70%;
	margin: 0 auto 0;
	width: 255px;

	@media(min-width:$breakpoint-small) {
		max-width: 50%;
	}

	@media(min-width:$breakpoint-medium) {
		max-width: 360px;
	}
}

.vd-pagetitle {
	text-align: center;
	background: white;
	box-shadow: 0 0 120px rgba(white,1);

	.vd-subtitle {
		color: black;
		font-family: $pre-font-default;
		font-size: 1.3rem;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.3em;
	}
	.vd-subtitle.small {
		margin-top: 1.5em;
		font-size: 0.75rem;
	}
}
.vd-title.vd-pagetitle {
	margin: 0;
}