.vd-title {
	font-weight: bold;
	font-family: 'Lora', serif;
	margin-bottom: 1em;
}

.vd-subtitle {
	font-family: "Overpass";
	font-weight: 600;
	display: block;
	font-size: 0.68em;
	color: pre-color(primary);
}


.vd-pagetitle {
	text-align: center;
}

.vd-title a {
	text-decoration: none;
}