$icomoon-font-family: "jvd-icons" !default;
$icomoon-font-path: "fonts" !default;

$jvd-icon-pause: "\e901";
$jvd-icon-play: "\e902";
$jvd-icon-skip-backward: "\e903";
$jvd-icon-skip-forward: "\e904";
$jvd-icon-external-link: "\e900";

