// CONTAINER

$pre-horizontal-max: 1120px;
$container-max-width: $pre-horizontal-max;


// FONTS

$global-line-height: 1.55;

// Base Font Family
$pre-font-primary: 'DM Sans';
$pre-font-secondary: 'Zilla Slab';
$pre-font-default: $pre-font-primary;

// Base Font Size
$pre-font-size-default: 17px;
$pre-font-size-smaller-screens: 17px;

$pre-font-sizes-root: (
	xs: $pre-font-size-default,
	s: $pre-font-size-default,
	m: $pre-font-size-default,
	l: $pre-font-size-default,
	xl: $pre-font-size-default,
);

// Headings
$pre-heading-font-family-h1: $pre-font-secondary;
$pre-heading-font-family-h2: $pre-font-secondary;
$pre-heading-font-family-h3: $pre-font-secondary;
$pre-heading-font-family-h4: $pre-font-secondary;
$pre-heading-font-family-h5: $pre-font-secondary;
$pre-heading-font-family-h6: $pre-font-secondary;

$pre-heading-font-size-h1: 70px;
$pre-heading-font-size-h2: 32px;
$pre-heading-font-size-h3: 28px;
$pre-heading-font-size-h4: 24px;
$pre-heading-font-size-h5: 1.3rem;
$pre-heading-font-size-h6: 1.2rem;

$pre-heading-font-size-h1-small: 40px;
$pre-heading-font-size-h2-small: 32px;
$pre-heading-font-size-h3-small: 28px;
$pre-heading-font-size-h4-small: 22px;
$pre-heading-font-size-h5-small: 1.3rem;
$pre-heading-font-size-h6-small: 1.2rem;


// COLORS
$pre-colors: (
	primary: rgba(black,1),
	secondary: rgba(black,0.7),
	background: #fff,
	text: rgba(0,0,0,0.75),
	yellow: #FFC200,
	white: white
);

$pre-link-color-default: map-get($pre-colors,text);
$global-muted-background: #eee;
$global-secondary-background: black;

// UIKIT
$global-font-family: $pre-font-default;
$global-font-size: $pre-font-size-default;

$global-color: map-get($pre-colors,text);

$global-medium-gutter: 2rem;
$global-gutter: 1rem;
$container-padding-horizontal: 2rem;
$container-padding-horizontal-s: 2rem;
$container-padding-horizontal-m: 2rem;

$lightbox-background: rgba(255,255,255,0.9);
$lightbox-toolbar-background: transparent;
$lightbox-toolbar-color: black;
$lightbox-toolbar-icon-hover-color: black;
$lightbox-toolbar-icon-color: black;

// PROJECT

:root {
	--jvd-letter-spacing: 0.2em;
	
	--jvd-color-gray: rgba(0,0,0,0.3);
	--jvd-color-gray-dark: rgba(0,0,0,0.5);

	--jvd-spaces-small: 1rem;
	--jvd-spaces-medium: 2rem;
	--jvd-spaces-large: 4rem;

	--breakpoint-medium: 768px;
	--breakpoint-small-max: 767px;
}

$jvd-smaller-screens-threshold: 1281px;
$jvd-transition-default: color 0.2s ease, background 0.2s ease;


// Effects
$vd-shadows-card: rgba(#C8BEB2,0.5) 0 4px 50px;